body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.parallax-wrapper{
    display:flex;
    background: black;
    height:100vh;
        /*radial-gradient(ellipse at bottom, silver, black), 
        radial-gradient(ellipse at left, black, darkblue, transparent);*/
}
.first-background-layer{
    width: 100%;
    height:100%;
    /*background-image: 
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 1, from(white), color-stop(0.1, rgba(248,255,128,.1)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 1, from(white), color-stop(0.1, rgba(255,186,170,.1)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 1, from(rgba(255,255,255,.9)), color-stop(0.05, rgba(251,255,186,.3)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 1, from(rgba(255,255,255,.4)), color-stop(0.03, rgba(253,255,219,.2)), to(transparent));*/
    background-size: 250px 250px, 200px 400px, 300px 270px, 220px 200px;
    background-position: 200px 150px, 130px 270px, 70px 150px;    
    position:absolute;
}
.cluster{  
    width:100vw;
    height:80vh;
}
.cluster-one{
    width:100vw;
    height:80vh;
}
.cluster-two{
    width:100vw;
    height:80vh;
    /*transform:rotate(900deg);*/
/*position:absolute/* overlaps the two left and right div....;*/
}
.cluster-three{
    width:100vw;
    height:80vh;
}
.c-large{
    width:4px;
    height:4px;
    border-radius: 50%;
    background: orange;
    margin-left:100px;
    margin-top:300px;
    animation: cl-one 100ms infinite;
}
.c-1-medium{
    width:3px;
    height:3px;
    border-radius:50%;
    animation: cl-one 200ms infinite;
}
.c-2-small{
    background:lightblue;
    width:2px;
    height:2px;
    border-radius:50%;
    animation:cl-one .3s infinite;
}
@keyframes cl-one{
    0%{background:lightyellow;}
    60%{background:#f7f7b0;}
    70%{background:#b9ddeb;}
    90%{background:#7ec6de;}
    100%{background:lightyellow;}
    0%{box-shadow: 0 0 -50px white;}
    60%{box-shadow: 0 0 1px red;}
    75%{box-shadow:0 0 50px lightblue;}
    100%{box-shadow:0 0 -50px white;}
}
.a{
    margin-left:25px;
    margin-top:100px;
}
.b{
    margin-left:50px;
    margin-top:50px;
}
.c{
    margin-left:75px;
    margin-top:20px;
}
.d{
    margin-left: 90px;
}
.e{
   margin-left:400px;
    margin-top:100px;
}
.i{
    margin-left:75px;
}